@use "../../scss/extends";
@use "../../scss/variables" as *;

.main {
  @extend %container;
  display: flex;
  flex-direction: row;
  font-size: 1.8rem;
  margin-top: calc($header--height / 2);

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  section {
    width: 100%;
  }
}
