@use "../../scss/extends";
@use "../../scss/variables" as *;

.main {
  @extend %container;
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  font-size: 1.2rem;

  .flex33 {
    flex: 0 1 calc(100% / 3);
    max-width: calc(100% / 3);
  }

  .flex66 {
    flex: 0 1 calc(100% / 1.5);
    max-width: calc(100% / 1.5);
  }

  .flex33,
  .flex66 {
    margin-top: calc($header--height / 2);
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;

    .flex33,
    .flex66 {
      max-width: 100%;
      padding: unset;
    }
  }

  section {
    h1 {
      margin-top: 1rem;
      color: var(--title-color);
    }

    p {
      span {
        display: block;
      }

      span::before {
        content: "🚀 ";
      }
    }

    a {
      text-decoration: none;
      color: var(--link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    border-top: 0.05rem solid var(--text-primary);
    height: max-content;
    margin-bottom: 2rem;
  }
  footer {
    text-align:center;
    padding: 2px;
    background-color: rgb(214, 106, 70);
    color: white;
    color: var(--link-color);
   
  }
}
