@use "../../scss/variables" as *;
@use "../../scss/extends";
@use "../../scss/color-themes" as *;

.header {
  height: $header--height;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px #0000001a;

  @include themed() {
    background-color: t($bg);
  }

  nav {
    @extend %container;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
    }
  }
}
