.container {
	width: 100%;
	height: 450px;
	border: 2px solid #000;
	border-radius: 15px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(101, 134, 136, 0.411);

	p {
		font-weight: 700;
		font-size: 25px;
		color: #000;
		background: rgba(113, 194, 214, 0.349);
		padding: 10px;
	}

	button {
		padding: 20px 50px;
		font-size: 20px;
	}
}
