@use "variables" as *;

$themes: (
  light: (
    bg: $bg--light,
    text: $text--light,
    link: $link--blue--light,
    hover: $hover--light,
  ),
  dark: (
    bg: $bg--dark,
    text: $text--dark,
    link: $link--blue--dark,
    hover: $hover--dark,
  ),
);
