@use "color-themes" as *;
@use "mixins" as *;

html,
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100vh;
  min-height: 100%;
  font-family: "Encode Sans Expanded", sans-serif;
  text-rendering: optimizeLegibility;

  background-color: var(--background);
  color: var(--text-primary);
  // @include theme-transition(color, background-color);
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

[data-color-theme="light"] {
  --background: #{$bg--light};
  --text-primary: #{$text--light};
  --link-color: #{$link--light};
  --hover-color: #{$hover--light};
  --nav-link-color: #{$nav-link--light};
  --hero-intro-color: #{$hero-intro--light};
}

[data-color-theme="dark"] {
  --background: #{$bg--dark};
  --text-primary: #{$text--dark};
  --link-color: #{$link--dark};
  --hover-color: #{$hover--dark};
  --nav-link-color: #{$nav-link--dark};
  --hero-intro-color: #{$hero-intro--dark};
}

:root {
  --background-invert: var(--text-primary);
  --color-invert: var(--background);
}

::selection {
  background-color: var(--text-primary);
  color: var(--background);
}
