@use "color-themes" as *;
@use "variables" as *;

$bg: var(--background);

html,
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: Lato;
  scroll-behavior: smooth;
  height: 100vh;
  min-height: 100%;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: $bg;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

:root,
[data-color-theme="light"] {
  --background: #{$bg--light};
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-color-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
