$header--height: 6rem;

$bg--light: #fff;
$text--light: #000;
$link--blue--light: #0000ff;
$hover--light: #ffa500;

$bg--dark: #000;
$text--dark: #fff;
$link--blue--dark: #b700ff;
$hover--dark: #acdf6a;