.project__body {
  border: 2px solid var(--text-primary);
  padding: 0 15px;
  min-height: 1rem;
  margin-bottom: 2rem;
  border: .5rem solid var(--background-invert);

  a {
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
      color: var(--link-color);
    }
  }
}
