.project__body {
  padding: 15px;
  min-height: 1rem;
  border: 0.15rem solid var(--background-invert);
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    transform: scale3d(1.006, 1.006, 1);
    color: var(--link-color);
    transition: 0.5s;
    text-transform: uppercase;
  }
}
